body{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
}

.hello{
	margin:50px;
	background:transparent;
}

.gap{
	margin-bottom: 40px;
}


.jumbotron_alignment{
	text-align: center;
}
.logo{
	width:8%;
}

.logo1{
	width:10%;
}
